In [ ]:
%cd "/content/drive/MyDrive/main-project"

/content/drive/MyDrive/main-project

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
filepath = '/content/drive/MyDrive/dataset/'
file= filepath+'training_data_2_csv_UTF.csv'

training_data = pd.read_csv(file)
bots = training_data[training_data.bot==1]
nonbots = training_data[training_data.bot==0]

In [ ]:
training_data

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listed_count,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,8.160000e+17,"""815745789754417152""","""HoustonPokeMap""","""Houston, TX""","""Rare and strong PokŽmon in Houston, TX. See m...","""https://t.co/dnWuDbFRkt""",1291,0,10,"""Mon Jan 02 02:25:26 +0000 2017""",0,False,78554,"""en""","{\r ""created_at"": ""Sun Mar 12 15:44:04 +0...",True,False,False,"""Houston PokŽ Alert""",1
1,4.843621e+09,4843621225,kernyeahx,"Templeville town, MD, USA",From late 2014 Socium Marketplace will make sh...,NaN,1,349,0,2/1/2016 7:37,38,False,31,en,NaN,True,False,False,Keri Nelson,1
2,4.303727e+09,4303727112,mattlieberisbot,NaN,"Inspired by the smart, funny folks at @replyal...",https://t.co/P1e1o0m4KC,1086,0,14,Fri Nov 20 18:53:22 +0000 2015,0,False,713,en,"{'retweeted': False, 'is_quote_status': False,...",True,False,False,Matt Lieber Is Bot,1
3,3.063139e+09,3063139353,sc_papers,NaN,NaN,NaN,33,0,8,2/25/2015 20:11,0,False,676,en,Construction of human anti-tetanus single-chai...,True,True,False,single cell papers,1
4,2.955142e+09,2955142070,lucarivera16,"Dublin, United States",Inspiring cooks everywhere since 1956.,NaN,11,745,0,1/1/2015 17:44,146,False,185,en,NaN,False,False,False,lucarivera16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2.362091e+08,236209129,leslieberland,NaN,"Twitter CMO. Favorite title: Mama. Never, ever...",NaN,18998,2005,425,1/10/2011 2:06,2503,False,3498,en,RT @StationCDRKelly: Dreaming of napping in sp...,False,False,True,Leslie Berland,0
2793,2.545039e+08,254503881,SamuelsPants,brooklyn NY,"I live in brooklyn, I'm a bike messenger, I pl...",http://t.co/CQkADdjfaw,32,54,0,Sat Feb 19 12:12:42 +0000 2011,1,False,97,en,"{'geo': None, 'in_reply_to_status_id': None, '...",True,False,False,Samuel Littlefield,0
2794,1.548544e+07,15485441,jimmyfallon,"New York, New York",astrophysicist,http://t.co/fgp5RYqr3T,45044433,7451,68157,7/18/2008 19:46,24,True,9606,en,"Status(contributors=None, truncated=False, tex...",False,False,False,jimmy fallon,0
2795,7.513869e+08,751386872,LocalAlligator,"England, United Kingdom","I'm quite out of my mind, actually, but people...",NaN,16,64,1,8/11/2012 14:53,15,False,62,en,{'created_at': 'Sun Feb 26 15:51:57 +0000 2017...,False,False,True,Tammas Foxdene,0
2796,1.992936e+07,19929362,RepJoeBarton,"Ennis, TX",I work for the people of the 6th District of T...,http://t.co/UcrfIiWGdl,22490,308,1342,Mon Feb 02 20:30:20 +0000 2009,43,True,1897,en,"{u'contributors': None, u'truncated': False, u...",True,False,True,Joe Barton,0

In [ ]:

bag_of_words_bot = r'bot|prison|paper|follow me|tweet me|swag|bang|b0t|magic|face|wizard|bot|b0t|cannabis|tweet me|mishear|follow me|updates every|gorilla|yes_ofc|forget' \
                    r'expos|kill|clit|bbb|butt|fuck|XXX|sex|truthe|fake|anony|free|virus|funky|RNA|kuck|jargon' \
                    r'nerd|swag|jack|bang|bonsai|chick|prison|paper|pokem|xx|freak|ffd|dunia|clone|genie|bbb' \
                    r'ffd|onlyman|emoji|joke|troll|droop|free|every|wow|cheese|yeah|bio|magic|wizard|face'
            
training_data['screen_name_binary'] = training_data.screen_name.str.contains(bag_of_words_bot, case=False, na=False)
training_data['name_binary'] = training_data.name.str.contains(bag_of_words_bot, case=False, na=False)
training_data['description_binary'] = training_data.description.str.contains(bag_of_words_bot, case=False, na=False)
training_data['status_binary'] = training_data.status.str.contains(bag_of_words_bot, case=False, na=False)

In [ ]:
training_data.columns

Index(['id', 'id_str', 'screen_name', 'location', 'description', 'url',
       'followers_count', 'friends_count', 'listed_count', 'created_at',
       'favourites_count', 'verified', 'statuses_count', 'lang', 'status',
       'default_profile', 'default_profile_image', 'has_extended_profile',
       'name', 'bot', 'screen_name_binary', 'name_binary',
       'description_binary', 'status_binary'],
      dtype='object')

In [ ]:
training_data

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listed_count,created_at,...,status,default_profile,default_profile_image,has_extended_profile,name,bot,screen_name_binary,name_binary,description_binary,status_binary
0,8.160000e+17,"""815745789754417152""","""HoustonPokeMap""","""Houston, TX""","""Rare and strong PokŽmon in Houston, TX. See m...","""https://t.co/dnWuDbFRkt""",1291,0,10,"""Mon Jan 02 02:25:26 +0000 2017""",...,"{\r ""created_at"": ""Sun Mar 12 15:44:04 +0...",True,False,False,"""Houston PokŽ Alert""",1,True,False,False,True
1,4.843621e+09,4843621225,kernyeahx,"Templeville town, MD, USA",From late 2014 Socium Marketplace will make sh...,NaN,1,349,0,2/1/2016 7:37,...,NaN,True,False,False,Keri Nelson,1,True,False,False,False
2,4.303727e+09,4303727112,mattlieberisbot,NaN,"Inspired by the smart, funny folks at @replyal...",https://t.co/P1e1o0m4KC,1086,0,14,Fri Nov 20 18:53:22 +0000 2015,...,"{'retweeted': False, 'is_quote_status': False,...",True,False,False,Matt Lieber Is Bot,1,True,True,True,True
3,3.063139e+09,3063139353,sc_papers,NaN,NaN,NaN,33,0,8,2/25/2015 20:11,...,Construction of human anti-tetanus single-chai...,True,True,False,single cell papers,1,True,True,False,False
4,2.955142e+09,2955142070,lucarivera16,"Dublin, United States",Inspiring cooks everywhere since 1956.,NaN,11,745,0,1/1/2015 17:44,...,NaN,False,False,False,lucarivera16,1,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2.362091e+08,236209129,leslieberland,NaN,"Twitter CMO. Favorite title: Mama. Never, ever...",NaN,18998,2005,425,1/10/2011 2:06,...,RT @StationCDRKelly: Dreaming of napping in sp...,False,False,True,Leslie Berland,0,False,False,False,False
2793,2.545039e+08,254503881,SamuelsPants,brooklyn NY,"I live in brooklyn, I'm a bike messenger, I pl...",http://t.co/CQkADdjfaw,32,54,0,Sat Feb 19 12:12:42 +0000 2011,...,"{'geo': None, 'in_reply_to_status_id': None, '...",True,False,False,Samuel Littlefield,0,False,False,True,False
2794,1.548544e+07,15485441,jimmyfallon,"New York, New York",astrophysicist,http://t.co/fgp5RYqr3T,45044433,7451,68157,7/18/2008 19:46,...,"Status(contributors=None, truncated=False, tex...",False,False,False,jimmy fallon,0,False,False,False,False
2795,7.513869e+08,751386872,LocalAlligator,"England, United Kingdom","I'm quite out of my mind, actually, but people...",NaN,16,64,1,8/11/2012 14:53,...,{'created_at': 'Sun Feb 26 15:51:57 +0000 2017...,False,False,True,Tammas Foxdene,0,False,False,False,False
2796,1.992936e+07,19929362,RepJoeBarton,"Ennis, TX",I work for the people of the 6th District of T...,http://t.co/UcrfIiWGdl,22490,308,1342,Mon Feb 02 20:30:20 +0000 2009,...,"{u'contributors': None, u'truncated': False, u...",True,False,True,Joe Barton,0,False,False,False,False

In [ ]:
training_data['listed_count_binary'] = (training_data.listed_count>20000)==False
features = ['screen_name_binary', 'name_binary',
       'description_binary', 'status_binary','verified','followers_count','friends_count','statuses_count','listed_count_binary','bot']

In [ ]:
print(len(features))

10

In [ ]:
training_data[features]

,screen_name_binary,name_binary,description_binary,status_binary,verified,followers_count,friends_count,statuses_count,listed_count_binary,bot
0,True,False,False,True,False,1291,0,78554,True,1
1,True,False,False,False,False,1,349,31,True,1
2,True,True,True,True,False,1086,0,713,True,1
3,True,True,False,False,False,33,0,676,True,1
4,False,False,True,False,False,11,745,185,True,1
...,...,...,...,...,...,...,...,...,...,...
2792,False,False,False,False,False,18998,2005,3498,True,0
2793,False,False,True,False,False,32,54,97,True,0
2794,False,False,False,False,True,45044433,7451,9606,False,0
2795,False,False,False,False,False,16,64,62,True,0
2796,False,False,False,False,True,22490,308,1897,True,0

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import metrics

X = training_data[features].iloc[:,:-1]
y = training_data[features].iloc[:,-1]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [ ]:
 print("class 0 : {}".format(sum(y_train == 0)))
print("class 1 : {}".format(sum(y_train == 1)))

from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2)

X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

class 0 : 1053
class 1 : 904

In [ ]:
print("class 0 : {}".format(sum(y_train_res == 0)))
print("class 1 : {}".format(sum(y_train_res == 1)))

class 0 : 1053
class 1 : 1053

In [ ]:
import numpy as np
from collections import Counter

class Node:
    def __init__(self, feature=None, threshold=None, left=None, right=None,*,value=None):
        self.feature = feature
        self.threshold = threshold
        self.left = left
        self.right = right
        self.value = value
        
    def is_leaf_node(self):
        return self.value is not None


class DecisionTree:
    def __init__(self, min_samples_split=2, max_depth=150, n_features=None):
        self.min_samples_split=min_samples_split
        self.max_depth=max_depth
        self.n_features=n_features
        self.root=None

    def fit(self, X, y):
        self.n_features = X.shape[1] if not self.n_features else min(X.shape[1],self.n_features)
        self.root = self._grow_tree(X, y)

    def _grow_tree(self, X, y, depth=0):
        n_samples, n_feats = X.shape
        n_labels = len(np.unique(y))

        # check the stopping criteria
        if (depth>=self.max_depth or n_labels==1 or n_samples<self.min_samples_split):
            leaf_value = self._most_common_label(y)
            return Node(value=leaf_value)

        feat_idxs = np.random.choice(n_feats, self.n_features, replace=False)

        # find the best split
        best_feature, best_thresh = self._best_split(X, y, feat_idxs)

        # create child nodes
        left_idxs, right_idxs = self._split(X[:, best_feature], best_thresh)
        left = self._grow_tree(X[left_idxs, :], y[left_idxs], depth+1)
        right = self._grow_tree(X[right_idxs, :], y[right_idxs], depth+1)
        return Node(best_feature, best_thresh, left, right)


    def _best_split(self, X, y, feat_idxs):
        best_gain = -1
        split_idx, split_threshold = None, None

        for feat_idx in feat_idxs:
            X_column = X[:, feat_idx]
            thresholds = np.unique(X_column)

            for thr in thresholds:
                # calculate the information gain
                gain = self._information_gain(y, X_column, thr)

                if gain > best_gain:
                    best_gain = gain
                    split_idx = feat_idx
                    split_threshold = thr

        return split_idx, split_threshold


    def _information_gain(self, y, X_column, threshold):
        # parent entropy
        parent_entropy = self._entropy(y)

        # create children
        left_idxs, right_idxs = self._split(X_column, threshold)

        if len(left_idxs) == 0 or len(right_idxs) == 0:
            return 0
        
        # calculate the weighted avg. entropy of children
        n = len(y)
        n_l, n_r = len(left_idxs), len(right_idxs)
        e_l, e_r = self._entropy(y[left_idxs]), self._entropy(y[right_idxs])
        child_entropy = (n_l/n) * e_l + (n_r/n) * e_r

        # calculate the IG
        information_gain = parent_entropy - child_entropy
        return information_gain

    def _split(self, X_column, split_thresh):
        left_idxs = np.argwhere(X_column <= split_thresh).flatten()
        right_idxs = np.argwhere(X_column > split_thresh).flatten()
        return left_idxs, right_idxs

    def _entropy(self, y):
        hist = np.bincount(y)
        ps = hist / len(y)
        return -np.sum([p * np.log(p) for p in ps if p>0])


    def _most_common_label(self, y):
        counter = Counter(y)
        value = counter.most_common(1)[0][0]
        return value
    

    def predict(self, X):
        return np.array([self._traverse_tree(x, self.root) for x in X])

    def _traverse_tree(self, x, node):
        if node.is_leaf_node():
            return node.value

        if x[node.feature] <= node.threshold:
            return self._traverse_tree(x, node.left)
        return self._traverse_tree(x, node.right)

In [ ]:
import numpy as np
from collections import Counter

class RandomForest:
    def __init__(self, n_trees=3, max_depth=10, min_samples_split=2, n_feature=None):
        self.n_trees = n_trees
        self.max_depth=max_depth
        self.min_samples_split=min_samples_split
        self.n_features=n_feature
        self.trees = []

    def fit(self, X, y):
        self.trees = []
        for _ in range(self.n_trees):
            tree = DecisionTree(max_depth=self.max_depth,
                            min_samples_split=self.min_samples_split,
                            n_features=self.n_features)
            X_sample, y_sample = self._bootstrap_samples(X, y)
            tree.fit(X_sample, y_sample)
            self.trees.append(tree)

    def _bootstrap_samples(self, X, y):
        n_samples = X.shape[0]
        idxs = np.random.choice(n_samples, n_samples, replace=True)
        return X[idxs], y[idxs]

    def _most_common_label(self, y):
        counter = Counter(y)
        most_common = counter.most_common(1)[0][0]
        return most_common


    def predict(self, X):
        predictions = np.array([tree.predict(X) for tree in self.trees])
        tree_preds = np.swapaxes(predictions, 0, 1)
        predictions = np.array([self._most_common_label(pred) for pred in tree_preds])
        return predictions

In [ ]:
clf = RandomForest(n_trees=3)
clf.fit(X_train_res.values, y_train_res.values)

In [ ]:
y_pred_train = clf.predict(X_train_res.values)
y_pred_test = clf.predict(X_test.values)

print("Trainig Accuracy: %.5f" %accuracy_score(y_train_res, y_pred_train))
print("Test Accuracy: %.5f" %accuracy_score(y_test, y_pred_test))

ValueError: ignored

In [ ]:
print(classification_report(y_test, y_pred_test))

ValueError: ignored

In [ ]:

cm2 = confusion_matrix(y_test, y_pred_test)

cm_display2 = metrics.ConfusionMatrixDisplay(confusion_matrix = cm2, display_labels = ["non-bot","bot"])

cm_display2.plot()
plt.show()

In [ ]:
import pickle 
pickle.dump(clf, open('model.pkl', 'wb'))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, roc_auc_score


# Predict probabilities of the positive class
y_scores = clf.predict_proba(X_test)[:, 1]

# Calculate the false positive rate (FPR), true positive rate (TPR), and threshold
fpr, tpr, thresholds = roc_curve(y_test, y_scores)

# Calculate the Area Under the Curve (AUC)
auc = roc_auc_score(y_test, y_scores)

# Plotting the ROC curve
plt.plot(fpr, tpr, label='ROC curve (area = %0.2f)' % auc)
plt.plot([0, 1], [0, 1], 'k--')  # Diagonal line for random classifier
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate (FPR)')
plt.ylabel('True Positive Rate (TPR)')
plt.title('Receiver Operating Characteristic (ROC) Curve')
plt.legend(loc="lower right")
plt.show()

TypeError: ignored

# Test

In [ ]:
df = pd.read_csv("test - Sheet1.csv")

In [ ]:
df

,screen_name,followers_count,friends_count,listed_count,verified,description,statuses_count,name,status
0,kernyeahx,1,349,0,False,From late 2014 Socium Marketplace will make sh...,31,Keri Nelson,null
1,FUNKO_BOTS,2522,51,6,False,3D NFT Bots created by Funko\r\n8888 Retro Sty...,108,FUNKO’Z BOT LIFE,None
2,ValdakR,4,0,0,False,You love it harshly? Come in! 💛💛💛 http://qo2ur...,22,Sandy Pass,None
3,akshaykumar,16933838,21,14682,True,None,3673,Akshay Kumar,"{u'lang': u'en', u'truncated': True, u'text': ..."
4,FuckReverendHax,157,82,1,False,tweets that EXPOSE the TRUTH about the deceive...,40438,TRUTHerbot EXPOSE,{'created_at': 'Tue Feb 14 12:23:01 +0000 2017...
5,EmmaWatson,24370134,353,45931,True,Actor & @UN_Women Global Goodwill Ambassador. ...,1573,Emma Watson,"{u'lang': u'en', u'truncated': True, u'text': ..."
6,FCBarcelona,20709433,59,28967,True,More official accounts @fcbarcelona_cat @fcbar...,85887,FC Barcelona,"{u'lang': u'en', u'text': u'[RIVAL WATCH] Juve..."
7,Harveytown,19740200,1510,47944,True,"New album, A Head Full Of Dreams, out now worl...",6454,Coldplay,"{u'lang': u'en', u'text': u'Everglowing in Tha..."
8,hima_jin_bot,57,34,6,False,ã‚ˆã†ã€ãã•ã‚Œæš‡äººã©ã‚‚ã€‚\n 4å‰²æ‰‹å‹•...,78995,æš‡äººbot,"{u'lang': u'ja', u'text': u'\u3044\u3064\u307e..."
9,wizkhalifa,29145797,800,27906,True,Taylor Gang,42988,Wiz Khalifa,"{u'lang': u'en', u'text': u'Bout to go live on..."

In [ ]:
df['listed_count_binary'] = (df.listed_count>20000)==False

In [ ]:
bag_of_words_bot = r'bot|prison|paper|follow me|tweet me|swag|bang|b0t|magic|face|wizard|bot|b0t|cannabis|tweet me|mishear|follow me|updates every|gorilla|yes_ofc|forget' \
                    r'expos|kill|clit|bbb|butt|fuck|XXX|sex|truthe|fake|anony|free|virus|funky|RNA|kuck|jargon' \
                    r'nerd|swag|jack|bang|bonsai|chick|prison|paper|pokem|xx|freak|ffd|dunia|clone|genie|bbb' \
                    r'ffd|onlyman|emoji|joke|troll|droop|free|every|wow|cheese|yeah|bio|magic|wizard|face'

df['screen_name_binary'] = df.screen_name.str.contains(bag_of_words_bot, case=False, na=False)
df['name_binary'] = df.name.str.contains(bag_of_words_bot, case=False, na=False)
df['description_binary'] = df.description.str.contains(bag_of_words_bot, case=False, na=False)
df['status_binary'] = df.status.str.contains(bag_of_words_bot, case=False, na=False)

In [ ]:
features = ['screen_name_binary', 'name_binary',
       'description_binary', 'status_binary','verified','followers_count','friends_count','statuses_count','listed_count_binary']

In [ ]:
df[features]

,screen_name_binary,name_binary,description_binary,status_binary,verified,followers_count,friends_count,statuses_count,listed_count_binary
0,True,False,False,False,False,1,349,31,True
1,True,True,True,False,False,2522,51,108,True
2,False,False,False,False,False,4,0,22,True
3,False,False,False,False,True,16933838,21,3673,True
4,True,True,False,True,False,157,82,40438,True
5,False,False,True,False,True,24370134,353,1573,False
6,False,False,False,False,True,20709433,59,85887,False
7,False,False,False,True,True,19740200,1510,6454,False
8,True,True,False,True,False,57,34,78995,True
9,False,False,False,True,True,29145797,800,42988,False

In [ ]:
predn = clf.predict(df[features].values)

for x in predn:
  if x==1:
    print("Bot")
  else:
    print("Human")

Bot
Bot
Bot
Human
Bot
Human
Human
Human
Bot
Human